<div class="wrapper">
  <div class="headline-box">
    <h1>NEXTx12</h1>
  </div>
  <div class="grid">
    <div class="col-one">
    </div>
    <div class="col-two">
    </div>
    <div class="col-three">
    </div>
  </div>
</div>
