<div class="wrapper">
  <div class="headline-box">
    <h1>NEXTx12</h1>
  </div>
  <div class="grid">
    <div class="col-one">
      <div class="mtg-info">
        <p>NEXT MTG</p>
        <p>January 30, 2015</p>
        <p>Friday</p>
        <p>7.00&ndash;9.00 PM</p>
        <p>NYCDA Office</p>
        <p>90 John St #404</p>
      </div>
    </div>
    <div class="col-two">
      <p class="byline">What&rsquo;s next for us all?</p>
      <p>NEXTx12 is a group of NYCDA alumni focused on our next steps. We&rsquo;ve graduated. What now? We gather every month to share our experiences, have fun, and learn from each other.</p>
    </div>
    <div class="col-three">
      <h2>Jobs. Jobs. Jobs.</h2>
      <p>Let&rsquo;s discuss the ins and outs of the job hunt</p>
      <p class="talk">TALKS ON</p>
      <p>Home Alone</p>
      <p>Success/Failure</p>
      <p>Hints &amp; Tips</p>
    </div>
  </div>
  <p class="banner">NEXTx12 (next times twelve) IS 12 CHANCES A YEAR FOR US TO FOCUS ON WHAT&rsquo;S NEXT</p>
</div>
