<div class="wrapper">
  <div class="headline-box">
    <h1>NEXTx12</h1>
    <div class="rsvp-link"><h2><a href="https://docs.google.com/forms/d/17ohXCiEZ4lo6KgeTOeXQjMLwuQV7hLoTeWBVT8XaN6U/viewform">RSVP</a></h2></div>
  </div>
  <div class="grid">
    <div class="col-one">
      <div class="mtg-info">
        <p>NEXT MTG</p>
        <p>March 13, 2015</p>
        <p>Friday</p>
        <p>7.00&ndash;9.00 PM</p>
        <p>NYCDA Office</p>
        <p>90 John St #404</p>
      </div>
    </div>
    <div class="col-two">
      <p class="byline">What&rsquo;s next for us all?</p>
      <p>NEXTx12 is a group of NYCDA alumni focused on our next steps. We&rsquo;ve graduated. What now? We gather every month to share our experiences, have fun, and learn from each other.</p>
    </div>
    <div class="col-three">
      <h2>New Initiatives</h2>
      <p>Meet NYCDA&rsquo;s new community manager</p>
      <p class="talk">TALKS ON</p>
      <p>New Alumni Opportunites</p>
      <p>Job Report</p>
    </div>
  </div>
  <p class="banner">NEXTx12 (next times twelve) IS 12 CHANCES A YEAR FOR US TO FOCUS ON WHAT&rsquo;S NEXT</p>
</div>
