.wrapper {
  width: 90%;
  margin: 0 auto;
}

.banner {
  margin-top: 2em;
  text-align: center;
  font-family: "karlaregular", sans-serif;
  font-size: 0.5em;
  font-weight: 700;
  color: #444;
}

.headline-box {
  display: inline-block;
  margin-top: 2em;
  margin-left: 2em;

  h1 {
    color: #3154AC;
    margin: 0;
    font-family: "karlaregular", sans-serif;
    font-size: 3.5em;
    float: left;
  }

  h2 {
    font-family: "karlaregular", sans-serif;
    font-size: 2em;
    color: #444;
    border: 2px solid #444;
    border-radius: 2.5px;
    padding: 0.2em;
    float: left;

  }

  .rsvp-link {
    position: absolute;
    top: 1.2em;
    right: 10em;

    a {
      text-decoration: none;
      color: #444;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grid {

  width: 100%;
  display: inline-block;
  margin-top: 2em;

  p {
    padding: 0 35px;
    font-size: 1.4em;
    font-family: "karlaregular", sans-serif;
    line-height: 1.25;
  }

  .col-one {
    width: 30%;
    height: 400px;
    margin: 2em .75em;
    float: left;
    border-top: 5px solid #000;
    border-bottom: 5px solid #444;

    .mtg-info {
      margin-top: 3em;

      p {
        font-size: 1.6em;
      }
    }
  }

  .col-two {
    width: 30%;
    height: 400px;
    margin: 2em 1em;
    float: left;
    background-color: #3154AC;
    border: 5px solid #3154AC;
    color: #FFF;
    text-align: center;

    .byline {
      margin-top: 2em;
      font-weight: 700;
      font-size: 1.6em;
      text-align: center;
    }
  }

  .col-three {
    width: 30%;
    height: 400px;
    margin: 2em .75em;
    float: left;
    border: 5px solid #444;
    text-align: center;

    h2 {
      margin-top: 2em;
      font-family: "karlaregular", sans-serif;
    }

    .talk {
      font-weight: 600;
    }
  }
}

@media only screen and (max-width : 1150px) {
  .grid {
    display: block;

    .col-one {
      width: 90%;
      height: 100%;
      clear: both;
      text-align: center;
    }

    .col-two {
      width: 90%;
      height: 100%;
      clear: both;
    }

    .col-three {
      width: 90%;
      height: 100%;
      clear: both;
    }
  }

  .banner {
    clear: both;
  }
}

@media only screen and (max-width : 600px) {
  .headline-box {
    display: block;
    margin-left: 4.8em;

    h1 {
      width: 100%;
      height: 100%;
      right: -50px;
    }

    h2 {
      height: 100%;
      clear: both;
    }

    .rsvp-link {
      position: relative;
      top: 0;
      right: -50px;
    }
  }
}
